<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.41, maximum-scale=1" />
  <link href="http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css">
<style>
  *{
    
    font-family: 'Roboto', sans-serif;
  }
  a{
    font-size:0.7em;
  }
  body{
    margin-top:4rem;
  }
  div{
    margin:0.5rem auto;
    display:block;
    width:max-content;
    padding:1.5rem;
    border:2px solid #1f1f1f;
  }
  @media only screen and (max-width: 690px) {
    div{
      margin:0.5rem;
      padding:0.5rem;
      width:90%;
    }
  }
</style>
  
  </head>
<body>
  
<div>
  
  
<h1>This is an API !!!</h1>
<h2>
  Not a website.
</h2>
<h2>
  Ofcourse there won't be a welcome page.
</h2>
<h2>
  Anyway feel free to use this API. <br><br>It's OPENSOURCE and SAFE. <br><br>Link to the code and documentation is given below. 
  <br><br>
  <a href="https://github.com/SayadPervez/secure-mail-server">https://github.com/SayadPervez/secure-mail-server</a>
</h2>

<h2 align="right" style="padding:2rem 2rem;">
  - Sayad Pervez
</h2>
  </div>
</body>